<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ergflow.posenet">

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-feature android:name="android.hardware.camera" />
  <uses-feature android:name="android.hardware.camera.autofocus" />
  <uses-permission android:name="android.permission.INTERNET" />



  <uses-sdk />

  <application
      android:allowBackup="false"
      android:icon="@drawable/ic_ergflow"
      android:label="@string/tfe_pn_app_name"
      android:roundIcon="@drawable/ic_ergflow"
      android:supportsRtl="true"
      android:theme="@style/AppTheme.Posenet"
      android:usesCleartextTraffic="true">

    <activity
        android:screenOrientation="landscape"
        android:name=".TestActivity"
        android:label="@string/tfe_pn_app_name"
        android:exported="true">
    </activity>

    <activity android:screenOrientation="landscape"  android:name=".CameraActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:screenOrientation="landscape"
        android:name=".WebViewActivity"
        android:exported="true">
    </activity>

  </application>

</manifest>
